

{% extends 'base.html' %}

{% block title %}Delete Station{% endblock %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Delete Incident</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-body">
          <h2>Are you sure you want to remove "{{ object.incident }}"?</h2>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'weather-list' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
